.example-spacer  {
    flex: 1 1 auto;
    color: white;
  }
  .searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    flex: 1 1 auto;
  }
  .searchbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
button mat-icon{
  color: white !important;
}
.example-full-width{
  display: flex;
  align-items: center;
 
  text-align: center;
}
.user-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover; 
}
.center-image{
  display: flex;
  align-items: center;
}
.accountsettings{
  display: flex;
  align-items: center;
}
.example-full-width input{
  width: 250px;
  height: 32px;
}

::ng-deep{

  .mat-toolbar{
    background: #131313!important;
    color: #131313 !important;
    
    display: flex !important;
    align-items: center !important;
    flex: 1 1 auto;
  }
}