<div class="user-profile">
    <div class="img-group">
        <img src="{{userprofile.userimage}}" alt="User Image" class="profile-image">
    </div>
    <div class="display-group">
        <div class="group">
            <span class="label">Username: </span>
            <span class="value">{{userprofile.name}}</span>
          </div>
          <div class="group">
            <span class="label">Email: </span>
            <span class="value">{{userprofile.email}}</span>
          </div>
          <div class="group">
            <span class="label">Country: </span>
            <span class="value">{{userprofile.country}}</span>
          </div>
          <div class="group">
            <span class="label">Followers: </span>
            <span class="value">{{userprofile.followers}}</span>
          </div>
    </div>
</div>