@import "~bootstrap-icons/font/bootstrap-icons.css";

.search-container {
    
    background-color: #131313;
    padding: 0px 15px;
    display: flex;
    height: 750px;
    flex-direction: column;
    overflow: auto;
 
}

.main-results {
    
    width: 300px;
    height: fit-content;

}
.main-results-div{
    display: flex;
    flex-direction: row;
}

.main-results h3 {
    color: white;
}


.search-main-song {
    width: 100%;
    margin-left: 40px;

}

.search-card {

    background-color: #181818;
    padding: 15px 0px 0px 15px;
    cursor: pointer;

}

.search-header {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 25px 0px 10px 0px;
}

.search-img {

    width: 100%;

    height: 100%;
    object-fit: cover;
}

.label-title-div {
    background-color: #131313;
    width: fit-content !important;

    border-radius: 20px;
    padding: 5px 15px;

    margin: 10px 0px 10px 0px;

}

.img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.mat-mdc-fab {
    background-color: #1bd463;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.search-title {
    font-size: 25px;
    font-weight: 800;
}

.search-card:hover .mat-mdc-fab {


    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

}

.search-card:not(:hover) .mat-mdc-fab {
    opacity: 0;
    visibility: visible;

}




.search-main-song h3 {
    color: white;

}

.search-main-song .search-song-card {
    background-color: #131313;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;

}

.search-main-song .search-song-card:hover {
    background-color: #2a2a2a;
}
.bi-balloon-heart{
    visibility: hidden;
}
.search-song-card:hover .bi-balloon-heart{
    visibility:visible;
}
.search-container .card-song{
    width: fit-content !important;
    margin: 0px 15px;
    padding: 15px 15px 0px 15px;
    align-items: flex-start;
    background-color:#232323;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.search-container .card-song:hover {


  
    background-color:#303030;
}
.search-container mat-card mat-card-header {

    
    margin-top: 15px;
    justify-content: flex-start;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    

}
.songs-div {
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    

}

.search-container .card-song img {


    width: 186px;
    height: 186px;


}
.search-container .card-song  .card-song-title{
    
    margin-left: 3px;
   
}
.search-container .card-song  .card-song-title:hover{
    text-decoration: underline;
    
   
}
.search-container .card-song  .card-artist-subtitle{
    
    margin-left: 3px;
   
}
.search-container .card-song  .card-artist-subtitle:hover{
    text-decoration: underline;
    
   
}
.artists-div {
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    

}

.search-container .card-artist img {


    width: 186px;
    height: 186px;


}
.search-container .card-artist  .card-artist-title{
    
    margin-left: 3px;
   
}

.search-container .card-artist{
    width: fit-content !important;
    margin: 0px 15px;
    padding: 15px 15px 0px 15px;
    align-items: flex-start;
    background-color:#232323;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.artist-section{
    margin: 20px 0px;
}.search-container .card-artist:hover {


  
    background-color:#303030;
}
.albums-div {
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    

}

.search-container .card-album img {


    width: 186px;
    height: 186px;


}
.search-container .card-album  .card-album-title{
    
    margin-left: 3px;
   
}

.search-container .card-album{
    width: fit-content !important;
    margin: 0px 15px;
    padding: 15px 15px 0px 15px;
    align-items: flex-start;
    background-color:#232323;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.album-section{
    margin: 20px 0px;
}.search-container .card-album:hover {


  
    background-color:#303030;
}
.playlists-div {
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    

}

.search-container .card-playlist img {


    width: 186px;
    height: 186px;


}
.search-container .card-playlist  .card-playlist-title{
    
    margin-left: 3px;
   
}

.search-container .card-playlist{
    width: fit-content !important;
    margin: 0px 15px;
    padding: 15px 15px 0px 15px;
    align-items: flex-start;
    background-color:#232323;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.playlist-section{
    margin: 20px 0px;
}.search-container .card-playlist:hover {


  
    background-color:#303030;
}
app-youtube-player{
    position:absolute;
    right: 0;
    bottom:calc(0px + 116px);
 
}
.bi-balloon-heart-fill{
    
    color: red;
    font-size: 20px;
}
